{% comment %}
The navbar is located directly under the topbar.

It provides the user with links to the various sections in the documentation,
e.g. Home, Guides, Reference and so on.

The navbar itself is hard coded.
{% endcomment %}

<div id="navbar">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/guides">Guides</a>
    </li>
    <li>
      <a href="/reference">Reference</a>
    </li>
    <li>
      <a href="/contributing">Contributing</a>
    </li>
    <li>
      <a href="/support">Support</a>
    </li>
  </ul>
</div>

